/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
body {
    width: 100%;
    margin: auto;
}
header {
    width: 100%;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #f5f5f5;
    .main-header {
        width: 81%;
        margin: auto;
        text-align: center;
        padding: 25px 0;
        font-family: 'Asap', sans-serif;
        .header-left {
            float: left;
            font-size: 18px;
            font-weight: 700;
            div {
                display: inline-block;
                padding: 5px;
            }
            a {
                text-decoration: none;
                color: #999;
            }
            .active {
                a {
                    color: #333;
                }
            }
        }
        .header-right {
            float: right;
            img {
                padding-right: 5px;
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
main {
    position: relative;
    top: 80px;
    font-family: 'Asap', sans-serif;
    .subscriber-section {
        background-image: url("../images/bg1_repeat.png");
        width: 100%;
        .content {
            width: 50%;
            color: #fff;
            margin: auto;
            text-align: center;
            height: auto;
            line-height: 1.4;
            h2 {
                padding: 50px 0;
                font-size: 52px;
                font-weight: 700;
            }
            p {
                font-size: 24px;
            }
            span {
                display: block;
                padding: 15px 0;
                font-size: 16px;
            }
            img {
                position: relative;
                top: 5px;
            }
            form.email-bar {
                padding-top: 20px;
                input {
                    border: none;
                    border-style: none;
                    border-color: transparent;
                }
                input[type=email] {
                    border-top-left-radius: 60px;
                    border-bottom-left-radius: 60px;
                    height: 43px;
                    padding: 8px 0 9px 45px;
                    opacity: 0.3;
                    width: 217px;
                    font-family: 'Asap', sans-serif;
                    font-size: 20.3px;
                }
                input[type=submit] {
                    position: relative;
                    border-top-right-radius: 60px;
                    border-bottom-right-radius: 60px;
                    width: 81px;
                    height: 60px;
                    margin-left: -5px;
                    background-color: #2ecc71;
                    background-image: none;
                    font-family: 'Asap', sans-serif;
                    font-size: 20.3px;
                }
            }
        }
    }
    .content-1 {
        font-family: 'Asap', sans-serif;
        text-align: center;
        width: 100%;
        line-height: 1.5;
        .description {
            width: 50%;
            margin: auto;
            padding: 105px 0 20px;
            h2 {
                font-size: 36px;
                color: #333;
                font-weight: 700;
                padding-bottom: 30px;
            }
            p {
                font-size: 20px;
                color: #999;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .content-2 {
        background-color: #f5f5f5;
        width: 100%;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        padding: 100px 0;
        .slot {
            display: block;
            width: 81%;
            margin: auto;
            padding: 40px 0;
            img {
                width: 48%;
                height: auto;
            }
            .description {
                float: left;
                width: 48%;
                h2 {
                    line-height: 1;
                    font-size: 36px;
                    color: #333;
                    font-weight: 700;
                }
                p {
                    width: 100%;
                    font-size: 20px;
                    color: #999;
                }
            }
        }
        .left {
            img {
                float: left;
                padding-right: 20px;
            }
        }
        .right {
            padding-top: 60px;
            img {
                float: right;
                padding-left: 20px;
            }
            h2,
            p {
                text-align: right;
            }
        }
    }
    .subscriber-footer {
        width: 100%;
        background-image: url("../images/bg2.png");
        .content {
            width: 63%;
            margin: auto;
            padding-bottom: 100px;
            font-family: 'Asap', sans-serif;
            color: #fff;
            text-align: center;
            line-height: 1.5;
            p {
                font-size: 24px;
                padding-top: 100px;
                b {
                    font-weight: 700;
                }
            }
            p.try {
                padding-top: 30px;
            }
            form.email-bar {
                padding-top: 20px;
                input {
                    border: none;
                    border-style: none;
                    border-color: transparent;
                }
                input[type=email] {
                    border-top-left-radius: 60px;
                    border-bottom-left-radius: 60px;
                    height: 43px;
                    padding: 8px 0 9px 45px;
                    opacity: 0.3;
                    width: 217px;
                    color: #fff;
                    font-family: 'Asap', sans-serif;
                    font-size: 20.3px;
                }
                input[type=submit] {
                    position: relative;
                    border-top-right-radius: 60px;
                    border-bottom-right-radius: 60px;
                    width: 81px;
                    height: 60px;
                    margin-left: -5px;
                    background-color: #2ecc71;
                    background-image: none;
                    font-family: 'Asap', sans-serif;
                    font-size: 20.3px;
                }
            }
            span {
                position: relative;
                top: 13px;
            }
        }
    }
    .hashtagLoader {
        width: 100%;
        background-color: #333;
        .content {
            color: #fff;
            text-align: center;
            p {
                position: relative;
                top: -130px;
                left: -80px;
                display: inline-block;
                font-family: 'Asap', sans-serif;
                font-size: 48px;
                font-weight: 700;
            }
            img {

            }
        }
    }
    .about-section-1 {
        font-family: 'Asap', sans-serif;
        width: 80%;
        margin: auto;
        display: block;
        padding-top: 60px;
        line-height: 1.4;
        height: auto;
        .content {
            width: 58%;
            float: left;
            padding-right: 2%;
            h2 {
                font-size: 36px;
                font-weight: 700;
                color: #333;
                padding-bottom: 30px;
            }
            p {
                font-size: 20px;
                color: #999;
                padding-bottom: 20px;
            }
        }
        .content-image {
            width: 40%;
            float: left;
            img {

            }
        }
    }
    .about-section-2 {
        font-family: 'Asap', sans-serif;
        display: block;
        width: 70%;
        margin: auto;
        text-align: center;
        line-height: 1.4;
        padding: 60px 0;
        top: 60px;
        .content {
            h2 {
                font-size: 36px;
                color: #333;
                font-weight: 700;
            }
            p {
                font-size: 20px;
                color: #999;
                padding-bottom: 20px;
            }
            a {
                padding: 21px 80px 20px;
                background-color: #2ecc71;
                color: #fff;
                border-radius: 35px;
                text-decoration: none;
                font-size: 20.3px;
                position: relative;
                top: 15px;
            }
        }
    }
    .about-circles {
        @media (min-width: 1024px) {
            .circle_2014 {
                font-family: Asap;
                position: absolute;
                top: -75px;
                left: Calc(50% - 75px);
                width: 100px;
                height: 100px;
                border: 7px solid #fff;
                border-radius: 50%;
                background-color: black;
                color: #999;
                font-size: 20px;
                margin: auto;
                background-color: #f5f5f5;
                text-align: center;
                span {
                    float: left;
                    margin: 30%;
                    margin-top: 40%;
                }
            }
            .circle_now {
                font-family: Asap;
                width: 100px;
                height: 100px;
                border: 7px solid #fff;
                border-radius: 50%;
                font-size: 20px;
                background-color: #f5f5f5;
                text-align: center;
                color: #999;
                margin: auto;
                position: relative;
                left: calc(0% - 15px);
                top: -70px;
                background-color: #e74c3c;
                text-align: center;
                span {
                    float: left;
                    margin: 30%;
                    margin-top: 40%;
                }
            }
            .container_2 {
                background-color: #f5f5f5;
                width: 100%;
                position: relative;
                padding-top: 36px;
            }
            .container_wrapper {
                position: relative;
                width: 87%;
                margin: auto;

                // background-color: #f5f5f5;
            }
            .content_list {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                margin: auto;
                .list_left {
                    width: 41%;
                    position: relative;
                    // display: inline-block;
                    border-right: 7px solid #fff;

                    // float: left;
                    padding: 2%;
                    padding-right: 5%;
                    .content {
                        background-color: #fff;
                        border-radius: 10px;
                    }
                    h2 {
                        font-weight: bold;
                        font-size: 22px;
                        color: #333;
                        padding: 10px;
                    }
                    p {
                        font-size: 20px;
                        color: #999;
                        padding: 10px;
                    }
                    .tool_tip {
                        position: absolute;
                        float: right;
                        right: 32px;
                        margin-top: -15%;
                        border-bottom: 15px solid transparent;
                        border-top: 15px solid transparent;
                        border-left: 20px solid #fff;
                    }
                    .circle {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: #ffc3bd;
                        border-radius: 50%;
                        border: 9px solid #f5f5f5;
                        float: right;
                        right: -31px;
                        margin-top: -19%;
                    }
                }
                .list_right {
                    width: 41%;
                    margin-top: 110px;
                    position: relative;
                    background-color: #f5f5f5;

                    // border-left: 2px solid black;
                    // float: right;
                    padding: 2%;
                    padding-left: 7%;
                    display: inline-block;
                    .content {
                        background-color: #fff;
                        border-radius: 10px;
                        h2 {
                            font-weight: bold;
                            font-size: 22px;
                            color: #333;
                            padding: 10px;
                        }
                        p {
                            font-size: 20px;
                            color: #999;
                            padding: 10px;
                        }
                    }
                    .tool_tip {
                        position: absolute;
                        float: left;
                        margin-left: -4%;
                        margin-top: -15%;
                        border-bottom: 15px solid transparent;
                        border-top: 15px solid transparent;
                        border-right: 20px solid #fff;
                    }
                    .circle {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: #ffc3bd;
                        border-radius: 50%;
                        float: left;
                        border: 9px solid #f5f5f5;
                        left: -33px;
                        margin-top: -18%;
                    }
                }
                #last_div {
                    padding-bottom: 100px;
                }
            }
        }
    }
}
footer {
    width: 100%;
    position: relative;
    top: -22px;
    text-align: center;
    margin-top: 136px;
    img:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
