@media (max-width: 768px) {
  /* line 3, ../sass/media-mobile.scss */
  header .main-header {
    width: 100%;
  }

  /* line 9, ../sass/media-mobile.scss */
  main .subscriber-section .content {
    width: 80%;
  }
  /* line 11, ../sass/media-mobile.scss */
  main .subscriber-section .content h2 {
    font-size: 38px;
  }
  /* line 14, ../sass/media-mobile.scss */
  main .subscriber-section .content p {
    font-size: 19px;
  }
  /* line 17, ../sass/media-mobile.scss */
  main .subscriber-section .content span {
    font-size: 13px;
  }
  /* line 21, ../sass/media-mobile.scss */
  main .subscriber-section .content form.email-bar input[type=email] {
    width: 70%;
    padding: 7px 0px 7px 18px;
  }
  /* line 25, ../sass/media-mobile.scss */
  main .subscriber-section .content form.email-bar input[type=submit] {
    height: 57px;
  }
  /* line 32, ../sass/media-mobile.scss */
  main .content-1 .description {
    width: 80%;
  }
  /* line 34, ../sass/media-mobile.scss */
  main .content-1 .description h2 {
    font-size: 29px;
  }
  /* line 37, ../sass/media-mobile.scss */
  main .content-1 .description p {
    font-size: 16px;
  }
  /* line 43, ../sass/media-mobile.scss */
  main .content-2 .slot {
    text-align: center;
  }
  /* line 45, ../sass/media-mobile.scss */
  main .content-2 .slot .description {
    position: absolute;
    width: 80%;
    float: none;
    display: block;
  }
  /* line 50, ../sass/media-mobile.scss */
  main .content-2 .slot .description h2 {
    font-size: 29px;
  }
  /* line 53, ../sass/media-mobile.scss */
  main .content-2 .slot .description p {
    font-size: 16px;
  }
  /* line 57, ../sass/media-mobile.scss */
  main .content-2 .slot img {
    margin-top: 150px;
    width: 80%;
    height: auto;
  }
  /* line 64, ../sass/media-mobile.scss */
  main .content-2 .left h2, main .content-2 .left p, main .content-2 .right h2, main .content-2 .right p {
    text-align: center;
    padding-bottom: 20px;
  }
  /* line 68, ../sass/media-mobile.scss */
  main .content-2 .left img, main .content-2 .right img {
    display: block;
    text-align: center;
  }
  /* line 74, ../sass/media-mobile.scss */
  main .about-section-1 {
    width: 90%;
    margin: auto;
  }
  /* line 78, ../sass/media-mobile.scss */
  main .about-section-1 .content h2 {
    font-size: 29px;
  }
  /* line 81, ../sass/media-mobile.scss */
  main .about-section-1 .content p {
    font-size: 16px;
  }
  /* line 86, ../sass/media-mobile.scss */
  main .about-section-2 {
    width: 90%;
    margin: auto;
  }
  /* line 90, ../sass/media-mobile.scss */
  main .about-section-2 .content h2 {
    font-size: 29px;
  }
  /* line 93, ../sass/media-mobile.scss */
  main .about-section-2 .content p {
    font-size: 16px;
  }
  /* line 101, ../sass/media-mobile.scss */
  main .subscriber-footer .content form.email-bar input[type=email] {
    width: 70%;
    padding: 7px 0px 7px 18px;
  }
  /* line 105, ../sass/media-mobile.scss */
  main .subscriber-footer .content form.email-bar input[type=submit] {
    height: 57px;
  }
  /* line 111, ../sass/media-mobile.scss */
  main .hashtagLoader {
    height: auto;
  }
  /* line 114, ../sass/media-mobile.scss */
  main .hashtagLoader .content img {
    height: 160px;
    width: 150px;
  }
  /* line 118, ../sass/media-mobile.scss */
  main .hashtagLoader .content p {
    top: -73px;
    left: -67px;
    font-size: 30px;
  }
}
