@media (max-width: 768px) {
  /* line 3, ../sass/media-mobile.scss */
  header .main-header {
    width: 100%;
  }

  /* line 9, ../sass/media-mobile.scss */
  main .subscriber-section .content {
    width: 80%;
  }
  /* line 11, ../sass/media-mobile.scss */
  main .subscriber-section .content h2 {
    font-size: 38px;
  }
  /* line 14, ../sass/media-mobile.scss */
  main .subscriber-section .content p {
    font-size: 19px;
  }
  /* line 17, ../sass/media-mobile.scss */
  main .subscriber-section .content span {
    font-size: 13px;
  }
  /* line 21, ../sass/media-mobile.scss */
  main .subscriber-section .content form.email-bar input[type=email] {
    width: 70%;
    padding: 7px 0px 7px 18px;
  }
  /* line 25, ../sass/media-mobile.scss */
  main .subscriber-section .content form.email-bar input[type=submit] {
    height: 57px;
  }
  /* line 32, ../sass/media-mobile.scss */
  main .content-1 .description {
    width: 80%;
  }
  /* line 34, ../sass/media-mobile.scss */
  main .content-1 .description h2 {
    font-size: 29px;
  }
  /* line 37, ../sass/media-mobile.scss */
  main .content-1 .description p {
    font-size: 16px;
  }
  /* line 43, ../sass/media-mobile.scss */
  main .content-2 .slot {
    text-align: center;
    position: relative;
  }
  /* line 46, ../sass/media-mobile.scss */
  main .content-2 .slot .description {
    position: absolute;
    width: 100%;
    top: 0px;
    float: none;
    display: block;
  }
  /* line 52, ../sass/media-mobile.scss */
  main .content-2 .slot .description h2 {
    font-size: 29px;
  }
  /* line 55, ../sass/media-mobile.scss */
  main .content-2 .slot .description p {
    font-size: 16px;
  }
  /* line 59, ../sass/media-mobile.scss */
  main .content-2 .slot img {
    width: 80%;
    height: auto;
  }
  /* line 65, ../sass/media-mobile.scss */
  main .content-2 .left h2, main .content-2 .left p, main .content-2 .right h2, main .content-2 .right p {
    text-align: center;
    padding-bottom: 20px;
  }
  /* line 69, ../sass/media-mobile.scss */
  main .content-2 .left img, main .content-2 .right img {
    text-align: center;
    float: none;
    padding-top: 102px;
  }
  /* line 76, ../sass/media-mobile.scss */
  main .about-section-1 {
    width: 90%;
    margin: auto;
  }
  /* line 80, ../sass/media-mobile.scss */
  main .about-section-1 .content h2 {
    font-size: 29px;
  }
  /* line 83, ../sass/media-mobile.scss */
  main .about-section-1 .content p {
    font-size: 16px;
  }
  /* line 88, ../sass/media-mobile.scss */
  main .about-section-2 {
    width: 90%;
    margin: auto;
  }
  /* line 92, ../sass/media-mobile.scss */
  main .about-section-2 .content h2 {
    font-size: 29px;
  }
  /* line 95, ../sass/media-mobile.scss */
  main .about-section-2 .content p {
    font-size: 16px;
  }
  /* line 103, ../sass/media-mobile.scss */
  main .subscriber-footer .content form.email-bar input[type=email] {
    width: 70%;
    padding: 7px 0px 7px 18px;
  }
  /* line 107, ../sass/media-mobile.scss */
  main .subscriber-footer .content form.email-bar input[type=submit] {
    height: 57px;
  }
  /* line 113, ../sass/media-mobile.scss */
  main .hashtagLoader {
    height: auto;
  }
  /* line 116, ../sass/media-mobile.scss */
  main .hashtagLoader .content img {
    height: 160px;
    width: 150px;
  }
  /* line 120, ../sass/media-mobile.scss */
  main .hashtagLoader .content p {
    top: -73px;
    left: -67px;
    font-size: 30px;
  }
}
