@media (max-width: 768px) {
  /* line 3, ../sass/media-mobile.scss */
  header .main-header {
    width: 100%;
  }

  /* line 9, ../sass/media-mobile.scss */
  main .subscriber-section .content {
    width: 80%;
  }
  /* line 11, ../sass/media-mobile.scss */
  main .subscriber-section .content h2 {
    font-size: 38px;
  }
  /* line 14, ../sass/media-mobile.scss */
  main .subscriber-section .content p {
    font-size: 19px;
  }
  /* line 17, ../sass/media-mobile.scss */
  main .subscriber-section .content span {
    font-size: 13px;
  }
  /* line 21, ../sass/media-mobile.scss */
  main .subscriber-section .content form.email-bar input[type=email] {
    width: 59%;
    height: 30px;
    font-size: 16.3px;
    padding: 7px 0 7px 18px;
  }
  /* line 27, ../sass/media-mobile.scss */
  main .subscriber-section .content form.email-bar input[type=submit] {
    height: 44px;
    font-size: 16.3px;
  }
  /* line 35, ../sass/media-mobile.scss */
  main .content-1 .description {
    width: 80%;
  }
  /* line 37, ../sass/media-mobile.scss */
  main .content-1 .description h2 {
    font-size: 29px;
  }
  /* line 40, ../sass/media-mobile.scss */
  main .content-1 .description p {
    font-size: 16px;
  }
  /* line 46, ../sass/media-mobile.scss */
  main .content-2 .slot {
    text-align: center;
    position: relative;
  }
  /* line 49, ../sass/media-mobile.scss */
  main .content-2 .slot .description {
    position: absolute;
    width: 100%;
    top: 0;
    float: none;
    display: block;
  }
  /* line 55, ../sass/media-mobile.scss */
  main .content-2 .slot .description h2 {
    font-size: 29px;
  }
  /* line 58, ../sass/media-mobile.scss */
  main .content-2 .slot .description p {
    font-size: 16px;
  }
  /* line 62, ../sass/media-mobile.scss */
  main .content-2 .slot img {
    width: 80%;
    height: auto;
  }
  /* line 70, ../sass/media-mobile.scss */
  main .content-2 .left h2,
  main .content-2 .left p,
  main .content-2 .right h2,
  main .content-2 .right p {
    text-align: center;
    padding-bottom: 20px;
  }
  /* line 74, ../sass/media-mobile.scss */
  main .content-2 .left img,
  main .content-2 .right img {
    text-align: center;
    float: none;
    padding-top: 131px;
  }
  /* line 81, ../sass/media-mobile.scss */
  main .about-section-1 {
    width: 90%;
    margin: auto;
  }
  /* line 85, ../sass/media-mobile.scss */
  main .about-section-1 .content h2 {
    font-size: 29px;
  }
  /* line 88, ../sass/media-mobile.scss */
  main .about-section-1 .content p {
    font-size: 16px;
  }
  /* line 93, ../sass/media-mobile.scss */
  main .about-section-2 {
    width: 90%;
    margin: auto;
  }
  /* line 97, ../sass/media-mobile.scss */
  main .about-section-2 .content h2 {
    font-size: 29px;
  }
  /* line 100, ../sass/media-mobile.scss */
  main .about-section-2 .content p {
    font-size: 16px;
  }
  /* line 106, ../sass/media-mobile.scss */
  main .subscriber-footer .content {
    width: 80%;
  }
  /* line 108, ../sass/media-mobile.scss */
  main .subscriber-footer .content p {
    font-size: 19px;
  }
  /* line 112, ../sass/media-mobile.scss */
  main .subscriber-footer .content form.email-bar input[type=email] {
    width: 59%;
    height: 30px;
    font-size: 16.3px;
    padding: 7px 0 7px 18px;
  }
  /* line 118, ../sass/media-mobile.scss */
  main .subscriber-footer .content form.email-bar input[type=submit] {
    height: 44px;
    font-size: 16.3px;
  }
  /* line 125, ../sass/media-mobile.scss */
  main .hashtagLoader {
    height: auto;
  }
  /* line 128, ../sass/media-mobile.scss */
  main .hashtagLoader .content img {
    height: 160px;
    width: 150px;
  }
  /* line 132, ../sass/media-mobile.scss */
  main .hashtagLoader .content p {
    top: -73px;
    left: -67px;
    font-size: 30px;
  }
}
@media (max-width: 423px) {
  /* line 145, ../sass/media-mobile.scss */
  main .hashtagLoader .content img {
    float: left;
    width: 120px;
    height: 135px;
  }
  /* line 150, ../sass/media-mobile.scss */
  main .hashtagLoader .content p {
    float: left;
    position: relative;
    top: 45px;
    left: -54px;
    font-size: 27px;
  }
}
