/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
body {
  width: 100%;
  margin: auto;
}

/* line 8, ../sass/print.scss */
header {
  width: 100%;
  background-color: #fff;
  z-index: 999;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #f5f5f5;
}
/* line 15, ../sass/print.scss */
header .main-header {
  width: 81%;
  margin: auto;
  text-align: center;
  padding: 25px 0;
  font-family: 'Asap', sans-serif;
}
/* line 21, ../sass/print.scss */
header .main-header .header-left {
  float: left;
  font-size: 18px;
  font-weight: 700;
}
/* line 25, ../sass/print.scss */
header .main-header .header-left div {
  display: inline-block;
  padding: 5px;
}
/* line 29, ../sass/print.scss */
header .main-header .header-left a {
  text-decoration: none;
  color: #999;
}
/* line 34, ../sass/print.scss */
header .main-header .header-left .active a {
  color: #333;
}
/* line 39, ../sass/print.scss */
header .main-header .header-right {
  float: right;
}
/* line 41, ../sass/print.scss */
header .main-header .header-right img {
  padding-right: 5px;
}
/* line 43, ../sass/print.scss */
header .main-header .header-right img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 51, ../sass/print.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, ../sass/print.scss */
main {
  position: relative;
  top: 80px;
  font-family: 'Asap', sans-serif;
}
/* line 60, ../sass/print.scss */
main .subscriber-section {
  background-image: url("../images/bg1_repeat.png");
  width: 100%;
}
/* line 63, ../sass/print.scss */
main .subscriber-section .content {
  width: 50%;
  color: #fff;
  margin: auto;
  text-align: center;
  height: auto;
  line-height: 1.4;
}
/* line 70, ../sass/print.scss */
main .subscriber-section .content h2 {
  padding: 50px 0;
  font-size: 52px;
  font-weight: 700;
}
/* line 75, ../sass/print.scss */
main .subscriber-section .content p {
  font-size: 24px;
}
/* line 78, ../sass/print.scss */
main .subscriber-section .content span {
  display: block;
  padding: 15px 0;
  font-size: 16px;
}
/* line 83, ../sass/print.scss */
main .subscriber-section .content img {
  position: relative;
  top: 5px;
}
/* line 87, ../sass/print.scss */
main .subscriber-section .content form.email-bar {
  padding-top: 20px;
}
/* line 89, ../sass/print.scss */
main .subscriber-section .content form.email-bar input {
  border: none;
  border-style: none;
  border-color: transparent;
}
/* line 94, ../sass/print.scss */
main .subscriber-section .content form.email-bar input[type=email] {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  height: 43px;
  padding: 8px 0 9px 45px;
  opacity: 0.3;
  width: 217px;
  font-family: 'Asap', sans-serif;
  font-size: 20.3px;
}
/* line 104, ../sass/print.scss */
main .subscriber-section .content form.email-bar input[type=submit] {
  position: relative;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  width: 81px;
  height: 60px;
  margin-left: -5px;
  background-color: #2ecc71;
  background-image: none;
  font-family: 'Asap', sans-serif;
  font-size: 20.3px;
}
/* line 119, ../sass/print.scss */
main .content-1 {
  font-family: 'Asap', sans-serif;
  text-align: center;
  width: 100%;
  line-height: 1.5;
}
/* line 124, ../sass/print.scss */
main .content-1 .description {
  width: 50%;
  margin: auto;
  padding: 105px 0 20px;
}
/* line 128, ../sass/print.scss */
main .content-1 .description h2 {
  font-size: 36px;
  color: #333;
  font-weight: 700;
  padding-bottom: 30px;
}
/* line 134, ../sass/print.scss */
main .content-1 .description p {
  font-size: 20px;
  color: #999;
}
/* line 139, ../sass/print.scss */
main .content-1 img {
  width: 100%;
  height: auto;
}
/* line 144, ../sass/print.scss */
main .content-2 {
  background-color: #f5f5f5;
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}
/* line 151, ../sass/print.scss */
main .content-2 .slot {
  display: block;
  width: 81%;
  margin: auto;
  padding: 40px 0;
}
/* line 156, ../sass/print.scss */
main .content-2 .slot img {
  width: 48%;
  height: auto;
}
/* line 160, ../sass/print.scss */
main .content-2 .slot .description {
  float: left;
  width: 48%;
}
/* line 163, ../sass/print.scss */
main .content-2 .slot .description h2 {
  line-height: 1;
  font-size: 36px;
  color: #333;
  font-weight: 700;
}
/* line 169, ../sass/print.scss */
main .content-2 .slot .description p {
  width: 100%;
  font-size: 20px;
  color: #999;
}
/* line 177, ../sass/print.scss */
main .content-2 .left img {
  float: left;
  padding-right: 20px;
}
/* line 182, ../sass/print.scss */
main .content-2 .right {
  padding-top: 60px;
}
/* line 184, ../sass/print.scss */
main .content-2 .right img {
  float: right;
  padding-left: 20px;
}
/* line 189, ../sass/print.scss */
main .content-2 .right h2,
main .content-2 .right p {
  text-align: right;
}
/* line 194, ../sass/print.scss */
main .subscriber-footer {
  width: 100%;
  background-image: url("../images/bg2.png");
}
/* line 197, ../sass/print.scss */
main .subscriber-footer .content {
  width: 63%;
  margin: auto;
  padding-bottom: 100px;
  font-family: 'Asap', sans-serif;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}
/* line 205, ../sass/print.scss */
main .subscriber-footer .content p {
  font-size: 24px;
  padding-top: 100px;
}
/* line 208, ../sass/print.scss */
main .subscriber-footer .content p b {
  font-weight: 700;
}
/* line 212, ../sass/print.scss */
main .subscriber-footer .content p.try {
  padding-top: 30px;
}
/* line 215, ../sass/print.scss */
main .subscriber-footer .content form.email-bar {
  padding-top: 20px;
}
/* line 217, ../sass/print.scss */
main .subscriber-footer .content form.email-bar input {
  border: none;
  border-style: none;
  border-color: transparent;
}
/* line 222, ../sass/print.scss */
main .subscriber-footer .content form.email-bar input[type=email] {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  height: 43px;
  padding: 8px 0 9px 45px;
  opacity: 0.3;
  width: 217px;
  color: #fff;
  font-family: 'Asap', sans-serif;
  font-size: 20.3px;
}
/* line 233, ../sass/print.scss */
main .subscriber-footer .content form.email-bar input[type=submit] {
  position: relative;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  width: 81px;
  height: 60px;
  margin-left: -5px;
  background-color: #2ecc71;
  background-image: none;
  font-family: 'Asap', sans-serif;
  font-size: 20.3px;
}
/* line 246, ../sass/print.scss */
main .subscriber-footer .content span {
  position: relative;
  top: 13px;
}
/* line 252, ../sass/print.scss */
main .hashtagLoader {
  width: 100%;
  background-color: #333;
}
/* line 255, ../sass/print.scss */
main .hashtagLoader .content {
  color: #fff;
  text-align: center;
}
/* line 258, ../sass/print.scss */
main .hashtagLoader .content p {
  position: relative;
  top: -130px;
  left: -80px;
  display: inline-block;
  font-family: 'Asap', sans-serif;
  font-size: 48px;
  font-weight: 700;
}
/* line 272, ../sass/print.scss */
main .about-section-1 {
  font-family: 'Asap', sans-serif;
  width: 80%;
  margin: auto;
  display: block;
  padding-top: 60px;
  line-height: 1.4;
  height: auto;
}
/* line 280, ../sass/print.scss */
main .about-section-1 .content {
  width: 58%;
  float: left;
  padding-right: 2%;
}
/* line 284, ../sass/print.scss */
main .about-section-1 .content h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  padding-bottom: 30px;
}
/* line 290, ../sass/print.scss */
main .about-section-1 .content p {
  font-size: 20px;
  color: #999;
  padding-bottom: 20px;
}
/* line 296, ../sass/print.scss */
main .about-section-1 .content-image {
  width: 40%;
  float: left;
}
/* line 304, ../sass/print.scss */
main .about-section-2 {
  font-family: 'Asap', sans-serif;
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
  line-height: 1.4;
  padding: 60px 0;
  top: 60px;
}
/* line 314, ../sass/print.scss */
main .about-section-2 .content h2 {
  font-size: 36px;
  color: #333;
  font-weight: 700;
}
/* line 319, ../sass/print.scss */
main .about-section-2 .content p {
  font-size: 20px;
  color: #999;
  padding-bottom: 20px;
}
/* line 324, ../sass/print.scss */
main .about-section-2 .content a {
  padding: 21px 80px 20px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 35px;
  text-decoration: none;
  font-size: 20.3px;
  position: relative;
  top: 15px;
}
@media (min-width: 1024px) {
  /* line 338, ../sass/print.scss */
  main .about-circles .circle_2014 {
    font-family: Asap;
    position: absolute;
    top: -75px;
    left: Calc(50% - 75px);
    width: 100px;
    height: 100px;
    border: 7px solid #fff;
    border-radius: 50%;
    background-color: black;
    color: #999;
    font-size: 20px;
    margin: auto;
    background-color: #f5f5f5;
    text-align: center;
  }
  /* line 353, ../sass/print.scss */
  main .about-circles .circle_2014 span {
    float: left;
    margin: 30%;
    margin-top: 40%;
  }
  /* line 359, ../sass/print.scss */
  main .about-circles .circle_now {
    font-family: Asap;
    width: 100px;
    height: 100px;
    border: 7px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    background-color: #f5f5f5;
    text-align: center;
    color: #999;
    margin: auto;
    position: relative;
    left: calc(0% - 15px);
    top: -70px;
    background-color: #e74c3c;
    text-align: center;
  }
  /* line 375, ../sass/print.scss */
  main .about-circles .circle_now span {
    float: left;
    margin: 30%;
    margin-top: 40%;
  }
  /* line 381, ../sass/print.scss */
  main .about-circles .container_2 {
    background-color: #f5f5f5;
    width: 100%;
    position: relative;
    margin-top: 81px;
    padding-top: 36px;
  }
  /* line 388, ../sass/print.scss */
  main .about-circles .container_wrapper {
    position: relative;
    width: 87%;
    margin: auto;
  }
  /* line 395, ../sass/print.scss */
  main .about-circles .content_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
  }
  /* line 400, ../sass/print.scss */
  main .about-circles .content_list .list_left {
    width: 41%;
    border-right: 7px solid #fff;
    padding: 2%;
    padding-right: 5%;
  }
  /* line 409, ../sass/print.scss */
  main .about-circles .content_list .list_left .content {
    background-color: #fff;
    border-radius: 10px;
  }
  /* line 413, ../sass/print.scss */
  main .about-circles .content_list .list_left h2 {
    font-weight: bold;
    font-size: 22px;
    color: #333;
    padding: 10px;
  }
  /* line 419, ../sass/print.scss */
  main .about-circles .content_list .list_left p {
    font-size: 20px;
    color: #999;
    padding: 10px;
  }
  /* line 424, ../sass/print.scss */
  main .about-circles .content_list .list_left .tool_tip {
    float: right;
    margin-right: -4%;
    margin-top: -15%;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 20px solid #fff;
  }
  /* line 432, ../sass/print.scss */
  main .about-circles .content_list .list_left .circle {
    width: 40px;
    height: 40px;
    background-color: #ffc3bd;
    border-radius: 50%;
    border: 9px solid #f5f5f5;
    float: right;
    margin-right: -20%;
    margin-top: -19%;
  }
  /* line 443, ../sass/print.scss */
  main .about-circles .content_list .list_right {
    width: 41%;
    margin-top: 110px;
    background-color: #f5f5f5;
    padding: 2%;
    padding-left: 7%;
    display: inline-block;
  }
  /* line 453, ../sass/print.scss */
  main .about-circles .content_list .list_right .content {
    background-color: #fff;
    border-radius: 10px;
  }
  /* line 456, ../sass/print.scss */
  main .about-circles .content_list .list_right .content h2 {
    font-weight: bold;
    font-size: 22px;
    color: #333;
    padding: 10px;
  }
  /* line 462, ../sass/print.scss */
  main .about-circles .content_list .list_right .content p {
    font-size: 20px;
    color: #999;
    padding: 10px;
  }
  /* line 468, ../sass/print.scss */
  main .about-circles .content_list .list_right .tool_tip {
    float: left;
    margin-left: -4%;
    margin-top: -15%;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 20px solid #fff;
  }
  /* line 476, ../sass/print.scss */
  main .about-circles .content_list .list_right .circle {
    width: 40px;
    height: 40px;
    background-color: #ffc3bd;
    border-radius: 50%;
    float: left;
    border: 9px solid #f5f5f5;
    margin-left: -25.5%;
    margin-top: -18%;
  }
  /* line 487, ../sass/print.scss */
  main .about-circles .content_list #last_div {
    padding-bottom: 100px;
  }
}

/* line 494, ../sass/print.scss */
footer {
  width: 100%;
  position: relative;
  top: -22px;
  text-align: center;
  margin-top: 136px;
}
/* line 500, ../sass/print.scss */
footer img:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 768px) {
  /* line 3, ../sass/media-mobile.scss */
  header .main-header {
    width: 100%;
  }

  /* line 9, ../sass/media-mobile.scss */
  main .subscriber-section .content {
    width: 80%;
  }
  /* line 11, ../sass/media-mobile.scss */
  main .subscriber-section .content h2 {
    font-size: 38px;
  }
  /* line 14, ../sass/media-mobile.scss */
  main .subscriber-section .content p {
    font-size: 19px;
  }
  /* line 17, ../sass/media-mobile.scss */
  main .subscriber-section .content span {
    font-size: 13px;
  }
  /* line 21, ../sass/media-mobile.scss */
  main .subscriber-section .content form.email-bar input[type=email] {
    width: 70%;
    padding: 7px 0px 7px 18px;
  }
  /* line 25, ../sass/media-mobile.scss */
  main .subscriber-section .content form.email-bar input[type=submit] {
    height: 57px;
  }
  /* line 32, ../sass/media-mobile.scss */
  main .content-1 .description {
    width: 80%;
  }
  /* line 34, ../sass/media-mobile.scss */
  main .content-1 .description h2 {
    font-size: 29px;
  }
  /* line 37, ../sass/media-mobile.scss */
  main .content-1 .description p {
    font-size: 16px;
  }
  /* line 43, ../sass/media-mobile.scss */
  main .content-2 .slot {
    text-align: center;
  }
  /* line 45, ../sass/media-mobile.scss */
  main .content-2 .slot .description {
    position: absolute;
    width: 80%;
    float: none;
    display: block;
  }
  /* line 50, ../sass/media-mobile.scss */
  main .content-2 .slot .description h2 {
    font-size: 29px;
  }
  /* line 53, ../sass/media-mobile.scss */
  main .content-2 .slot .description p {
    font-size: 16px;
  }
  /* line 57, ../sass/media-mobile.scss */
  main .content-2 .slot img {
    margin-top: 150px;
    width: 80%;
    height: auto;
  }
  /* line 64, ../sass/media-mobile.scss */
  main .content-2 .left h2, main .content-2 .left p, main .content-2 .right h2, main .content-2 .right p {
    text-align: center;
    padding-bottom: 20px;
  }
  /* line 68, ../sass/media-mobile.scss */
  main .content-2 .left img, main .content-2 .right img {
    display: block;
    text-align: center;
  }
  /* line 74, ../sass/media-mobile.scss */
  main .about-section-1 {
    width: 90%;
    margin: auto;
  }
  /* line 78, ../sass/media-mobile.scss */
  main .about-section-1 .content h2 {
    font-size: 29px;
  }
  /* line 81, ../sass/media-mobile.scss */
  main .about-section-1 .content p {
    font-size: 16px;
  }
  /* line 86, ../sass/media-mobile.scss */
  main .about-section-2 {
    width: 90%;
    margin: auto;
  }
  /* line 90, ../sass/media-mobile.scss */
  main .about-section-2 .content h2 {
    font-size: 29px;
  }
  /* line 93, ../sass/media-mobile.scss */
  main .about-section-2 .content p {
    font-size: 16px;
  }
  /* line 101, ../sass/media-mobile.scss */
  main .subscriber-footer .content form.email-bar input[type=email] {
    width: 70%;
    padding: 7px 0px 7px 18px;
  }
  /* line 105, ../sass/media-mobile.scss */
  main .subscriber-footer .content form.email-bar input[type=submit] {
    height: 57px;
  }
  /* line 111, ../sass/media-mobile.scss */
  main .hashtagLoader {
    height: auto;
  }
  /* line 114, ../sass/media-mobile.scss */
  main .hashtagLoader .content img {
    height: 160px;
    width: 150px;
  }
  /* line 118, ../sass/media-mobile.scss */
  main .hashtagLoader .content p {
    top: -73px;
    left: -67px;
    font-size: 30px;
  }
}
@media (max-width: 1023px) {
  /* line 5, ../sass/media-1023.scss */
  main .about-section-1 {
    text-align: center;
  }
  /* line 7, ../sass/media-1023.scss */
  main .about-section-1 .content, main .about-section-1 .content-image {
    width: 100%;
  }
  /* line 12, ../sass/media-1023.scss */
  main .about-circles .container_2 {
    position: relative;
    background-color: #f5f5f5;
    width: 100%;
  }
  /* line 16, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper {
    padding-top: 30px;
    margin-left: 95px;
    border-left: 7px solid #fff;
  }
  /* line 20, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list {
    width: 87%;
    margin: auto;
  }
  /* line 23, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list .list_left {
    width: 80%;
    margin: 20px;
  }
  /* line 29, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list .list_right {
    width: 80%;
    margin: 20px;
  }
  /* line 33, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list .content {
    background-color: #fff;
    border-radius: 10px;
  }
  /* line 36, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list .content h2 {
    font-weight: bold;
    font-size: 22px;
    color: #333;
    padding: 10px;
  }
  /* line 42, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list .content p {
    font-size: 20px;
    color: #999;
    padding: 10px;
  }
  /* line 48, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list .tool_tip {
    float: left;
    margin-left: -3%;
    margin-top: -10%;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 20px solid #fff;
  }
  /* line 56, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list .circle {
    width: 40px;
    height: 40px;
    background-color: #ffc3bd;
    border-radius: 50%;
    border: 9px solid #f5f5f5;
    float: left;
    margin-left: -18%;
    margin-top: -10%;
  }
  /* line 66, ../sass/media-1023.scss */
  main .about-circles .container_2 .container_wrapper .content_list #last_div {
    padding-bottom: 100px;
  }
  /* line 72, ../sass/media-1023.scss */
  main .about-circles .circle_2014 {
    font-family: Asap;
    position: absolute;
    top: -75px;
    left: 40px;
    width: 100px;
    height: 100px;
    border: 7px solid #fff;
    border-radius: 50%;
    font-weight: 700;
    background-color: black;
    color: #999;
    font-size: 20px;
    margin: auto;
    background-color: #f5f5f5;
    text-align: center;
  }
  /* line 88, ../sass/media-1023.scss */
  main .about-circles .circle_2014 span {
    float: left;
    margin: 30%;
    margin-top: 40%;
  }
  /* line 94, ../sass/media-1023.scss */
  main .about-circles .circle_now {
    font-family: Asap;
    width: 100px;
    height: 100px;
    border: 7px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    background-color: #e74c3c;
    text-align: center;
    position: relative;
    left: 42px;
    top: -55px;
    text-align: center;
  }
  /* line 109, ../sass/media-1023.scss */
  main .about-circles .circle_now span {
    float: left;
    margin: 30%;
    margin-top: 40%;
  }
}
@media (max-width: 567px) {
  /* line 4, ../sass/media-567.scss */
  header .main-header .header-right {
    display: none;
  }
  /* line 7, ../sass/media-567.scss */
  header .main-header .header-left {
    width: 100%;
    margin-top: -31px;
  }
  /* line 10, ../sass/media-567.scss */
  header .main-header .header-left .home {
    float: left;
    padding-left: 20px;
  }
  /* line 14, ../sass/media-567.scss */
  header .main-header .header-left .about {
    float: right;
    padding-right: 20px;
  }
}
